mixin score-config-button(scoreType, dataPath)
    a.config-button(
        title=`{{ localize 'MNM3E.${scoreType}Configure' }}`
        data-action="score-config"
        data-score-path=`data.${dataPath}`
        data-score-config-path=`${dataPath}`
    )
        i.fas.fa-cog

.core-container.flexrow
    .bordered-section.ability-section.flexcol
        h3.section-header {{ localize "MNM3E.Abilities" }}
            +score-config-button("Ability", "abilities")
        ul.scores.ability-scores.flexrow
            | {{#each data.abilities as |ability key|}}
            li.ability.flexcol(data-ability="{{key}}")
                label.ability-name.box-title.rollable {{ability.label}}
                span.score.ability-score {{ability.total}}
            | {{/each}}
    .flexcol
        .bordered-section.defense-section.flexcol
            h3.section-header {{ localize "MNM3E.Defenses" }}
                +score-config-button("Defense", "defenses")
            ul.scores.defenses-list.flexrow
                | {{#each data.defenses as |defense key|}}
                li.defense.flexcol(data-defense="{{key}}")
                    label.defense-name.box-title.rollable {{defense.label}}
                    span.score.defense-score {{ defense.total }}
                | {{/each}}
        .body-section.flexrow
            .bordered-section.skill-section.flexcol
                - const untrainedStatement = "{{#if (and skill.trainedOnly (not skill.isTrained))}}untrained{{/if}}"
                - const rollableStatement = "{{#if (or skill.isTrained (not skill.trainedOnly))}}rollable{{/if}}"
                h3.section-header {{ localize "MNM3E.Skills" }}
                    +score-config-button("Skill", "skills")
                ul.scores.skills-list
                    | {{#each data.skills as |skill key|}}
                    | {{#if (eq skill.type "dynamic")}}
                    li.skill.flexrow(class=untrainedStatement data-skill="{{key}}")
                        label.skill-name(class=rollableStatement) {{skill.label}}
                        span.score.skill-score {{numberFormat skill.base decimals=0 sign=true}}
                    | {{#if (not (emptyObj skill.data))}}
                    | {{#each skill.data as |subskill subKey|}}
                    li.subskill.flexrow(data-skill="{{key}}" data-subskill="{{subKey}}")
                        label.subskill-name(class=rollableStatement) - {{subskill.displayName}}
                        span.score.skill-score {{numberFormat subskill.total decimals=0 sign=true}}
                    | {{/each}}
                    | {{/if}}
                    | {{else}}
                    li.skill.flexrow(class=untrainedStatement data-skill="{{key}}")
                        label.skill-name(class=rollableStatement) {{skill.label}}
                        span.score.skill-score {{numberFormat skill.data.total decimals=0 sign=true}}
                    | {{/if}}
                    | {{/each}}
            .favorites-section.flexcol
                | {{#each favorites}}
                | {{#if this.items}}
                | {{>
                |       "systems/mnm3e/templates/items/parts/list-sheet.html"
                |       ..
                |       items=this.items
                |       header=(localize this.label)
                |       type=this.type
                |       hideControls=true
                | }}
                | {{/if}}
                | {{/each}}