mixin score-config-button(scoreType, dataPath)
    a.config-button(
        title=`{{ localize 'MNM3E.${scoreType}Configure' }}`
        data-action="score-config"
        data-score-path=`data.${dataPath}`
        data-score-config-path=`${dataPath}`
    )
        i.fab.fa-superpowers

.core-container.flexrow
    .ability-section.flexcol
        h3.section-title {{ localize "MNM3E.AbilityScores" }}
            +score-config-button("Ability", "abilities")
        ul.ability-scores.flexrow
            | {{#each data.abilities as |ability key|}}
            li.ability.flexcol
                label.ability-name.box-title {{ability.label}}
                span.ability-score {{ability.total}}
            | {{/each}}
    .attribute-section.flexcol
        .defense-section.flexcol
            h3.section-title {{ localize "MNM3E.Defenses" }}
                +score-config-button("Defense", "defenses")
            ul.defenses-list.flexrow
                | {{#each data.defenses as |defense key|}}
                li.defense.flexcol(data-defense="{{key}}")
                    label.defense-name.box-title {{defense.label}}
                    span.defense-score {{numberFormat defense.total decimals=0 sign=true}}
                | {{/each}}
        .skill-section.flexcol
            h3.section-title {{ localize "MNM3E.Skills" }}
                +score-config-button("Skill", "skills")
            ul.skills-list
                | {{#each data.skills as |skill key|}}
                | {{#if (eq skill.type "dynamic")}}
                | {{#if (not (emptyObj skill.data))}}
                | {{#each skill.data as |subskill|}}
                li.subskill.flexrow(data-skill="{{key}}")
                    label.subskill-name.rollable {{skill.label}}: {{subskill.displayName}}
                    span.skill-score {{numberFormat subskill.total decimals=0 sign=true}}
                | {{/each}}
                | {{/if}}
                | {{else}}
                li.skill.flexrow(data-skill="{{key}}")
                    label.skill-name.rollable {{skill.label}}
                    span.skill-score {{numberFormat skill.data.total decimals=0 sign=true}}
                | {{/if}}
                | {{/each}}