mixin score-config-button(scoreType, dataPath)
    a.config-button(
        title=`{{ localize 'MNM3E.${scoreType}Configure' }}`
        data-action="score-config"
        data-score-path=`data.${dataPath}`
        data-score-config-path=`${dataPath}`
    )
        i.fas.fa-cog

.traits-section.flexcol
    .trait
        label {{ localize "MNM3E.PenaltyPoints" }}
        input(type="number" name="data.attributes.penaltyPoints" value="{{data.attributes.penaltyPoints}}")
    .trait
        label {{ localize "MNM3E.Initiative" }}
        span {{data.attributes.initiative}}
    .trait
        label {{ localize "MNM3E.Movement" }}
        span {{ movement.main }}{{#if movement.special}}, {{ movement.special }}{{/if}}
    .ability-section.flexcol
        h3.section-title {{ localize 'MNM3E.Abilities' }}
            +score-config-button('Ability', 'abilities')
        ul.ability-scores.flexrow
            | {{#each data.abilities as |ability abilityName|}}
            li.ability.flexcol(data-ability="{{abilityName}}")
                label.ability-name.rollable {{ titleCase (lookup ../config.abilityAbbreviations abilityName) }}
                span.ability-score {{ ability.total }}
            | {{/each}}
    .defense-section.flexcol
        h3.section-title {{ localize "MNM3E.Defenses" }}
            +score-config-button('Defense', 'defenses')
        ul.defense-scores.flexrow
            | {{#each data.defenses as |defense defenseName|}}
            li.defense.flexcol(data-defense="{{defenseName}}")
                label.defense-name.rollable {{ titleCase (lookup ../config.defenseAbbreviations defenseName) }}
                span.defense-score {{ defense.total }}
            | {{/each}}
    .skills.flexcol
        h3.section-title {{ localize 'MNM3E.Skills' }}
            +score-config-button('Skill', 'skills')
        | {{#each data.skills as |skill skillName|}}
        | {{#if (eq skill.type "static")}}
        | {{#if (gt skill.data.rank 0)}}
        .skill(data-skill="{{skillName}}")
            span.skill-name.rollable {{ skill.label }} {{ numberFormat skill.data.rank sign=true }}{{#if (ne skill.data.total skill.data.rank)}} ({{ numberFormat skill.data.total sign=true }}){{/if}}
        | {{/if}}
        | {{else}}
        | {{#each skill.data as |subskill subKey|}}
        | {{#if (gt skill.data.rank 0)}}
        .skill(data-skill="{{skillName}}")
            span.skill-name.rollable {{ skill.label }} {{ numberFormat skill.data.rank sign=true }}{{#if (ne skill.data.total skill.data.rank)}} ({{ numberFormat skill.data.total sign=true }}){{/if}}
        | {{/if}}
        | {{#if (gt subskill.rank 0)}}
        .subskill(data-skill="{{skillName}}" data-subskill="{{subKey}}")
            span.skill-name.rollable {{ subskill.displayName }} {{ numberFormat subskill.rank sign=true }}{{#if (ne subskill.total subskill.rank)}} ({{ numberFormat subskill.total sign=true }}){{/if}}
        | {{/if}}
        | {{/each}}
        | {{/if}}
        | {{/each}}

.catalog-section
    | {{>
    |       "systems/mnm3e/templates/items/parts/list-sheet.html"
    |       items=advantages
    |       sections=advantageSections
    |       header=(localize "MNM3E.Advantages")
    |       type="advantage"
    |       iconClass="fa-sm"
    | }}

    | {{>
    |       "systems/mnm3e/templates/items/parts/list-sheet.html"
    |       items=powers
    |       sections=powerSections
    |       header=(localize "MNM3E.Powers")
    |       type="power"
    |       iconClass="fa-sm"
    | }}

    | {{>
    |       "systems/mnm3e/templates/items/parts/list-sheet.html"
    |       items=equipment
    |       sections=equipmentSections
    |       header=(localize "MNM3E.Equipment")
    |       type="equipment"
    |       iconClass="fa-sm"
    | }}