include ../mixins.pug

form(class="{{cssClass}} item-sheet-advantage flexcol" autocomplete="off")
    header.sheet-header.flexrow
        | {{> "systems/mnm3e/templates/items/parts/header-sheet.html" showSummary=true }}

    nav.sheet-navigation.tabs(data-group="primary")
        a.item.active(data-tab="description") {{ localize "MNM3E.Description" }}
        a.item(data-tab="details") {{ localize "MNM3E.Details" }}
        a.item(data-tab="effects") {{ localize "MNM3E.Effects" }}

    section.sheet-body
        .tab.description.flexrow.active(data-group="primary" data-tab="description")
            .item-properties.flexcol
                | {{> "systems/mnm3e/templates/items/parts/cost-sheet.html" }}

            | {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}

        .tab.details(data-group="primary" data-tab="details")
            | {{> "systems/mnm3e/templates/items/parts/activations-sheet.html" }}

            | {{> "systems/mnm3e/templates/items/parts/actions-sheet.html" }}

        .tab.effects(data-group="primary" data-tab="effects")
            | {{> "systems/mnm3e/templates/actors/parts/actor-effects.html" }}