form(class="{{cssClass}} item-sheet-effect flexcol" autocomplete="off")
    header.sheet-header
        | {{> "systems/mnm3e/templates/items/parts/header-sheet.html" itemSubtype=itemSubtype showSummary=true }}

    nav.sheet-navigation.tabs(data-group="primary")
        a.item.active(data-tab="description") {{ localize "MNM3E.Description" }}
        a.item(data-tab="details") {{ localize "MNM3E.Details" }}
        a.item(data-tab="modifiers") {{ localize "MNM3E.Modifiers" }}
        a.item(data-tab="effects") {{ localize "MNM3E.Effects" }}

    section.sheet-body
        .tab.description.flexrow.active(data-group="primary" data-tab="description")
            .item-properties.flexcol
                | {{> "systems/mnm3e/templates/items/parts/cost-sheet.html" }}

            .item-editor.flexcol
                | {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}

        .tab.details(data-group="primary" data-tab="details")

            | {{> "systems/mnm3e/templates/items/parts/activations-sheet.html" }}

            | {{> "systems/mnm3e/templates/items/parts/actions-sheet.html" }}
            
        .tab.modifiers.flexcol(data-group="primary" data-tab="modifiers")
            | {{>
            |       "systems/mnm3e/templates/items/parts/list-sheet.html"
            |       items=data.modifiers
            |       dataPath="data.modifiers"
            |       header=(localize "MNM3E.Modifiers")
            |       type="modifier"
            | }}

        .tab.effects.flexrow(data-group="primary" data-tab="effects")
            | {{> "systems/mnm3e/templates/actors/parts/actor-effects.html" }}