form(class="{{cssClass}} item-sheet-power flexcol" autocomplete="off")
    header.sheet-header.flexrow
        | {{> "systems/mnm3e/templates/items/parts/header-sheet.html" }}

    nav.sheet-navigation.tabs(data-group="primary")
        a.item.active(data-tab="description") {{ localize "MNM3E.Description" }}
        a.item(data-tab="details") {{ localize "MNM3E.Details" }}

    section.sheet-body
        .tab.description.flexcol.active(data-group="primary" data-tab="description")
            .flexrow
                label {{ localize "MNM3E.PowerSummary" }}
                span {{ data.summary }}
            .flexrow
                label {{ localize "MNM3E.PowerTotalCost" }}
                span {{ data.totalCost }}

            | {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}

        .tab.details.flexcol(data-group="primary" data-tab="details")
            | {{>
            |       "systems/mnm3e/templates/items/parts/list-sheet.html"
            |       items=data.effects
            |       header=(localize "MNM3E.Effects")
            |       type="effect"
            | }}

            | {{>
            |       "systems/mnm3e/templates/items/parts/list-sheet.html"
            |       items=data.powerArray
            |       header=(localize "MNM3E.PowerArray")
            |       type="power"
            | }}