form.flexcol(class="{{cssClass}} item-sheet-{{item.type}}" autocomplete="off")
    header.sheet-header.flexcol
        | {{> "systems/mnm3e/templates/items/parts/header-sheet.html" }}

    nav.sheet-navigation.tabs(data-group="primary")
        a.item.active(data-tab="description") {{ localize "MNM3E.Description" }}
        a.item(data-tab="details") {{ localize "MNM3E.Details" }}
        a.item(data-tab="effects") {{ localize "MNM3E.Effects" }}

    section.sheet-body
        .tab.description.flexcol.active(data-group="primary" data-tab="description")
            .power-properties
                .summary.flexrow
                    label {{ localize "MNM3E.PowerSummary" }}:
                    span {{ data.summary }}

            | {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}

        .tab.details(data-group="primary" data-tab="details")
            | {{>
            |       "systems/mnm3e/templates/items/parts/list-sheet.html"
            |       items=data.effects
            |       dataPath="data.effects"
            |       header=(localize "MNM3E.Effects")
            |       type="effect"
            | }}

            | {{#if (eq item.type "power")}}
            | {{>
            |       "systems/mnm3e/templates/items/parts/list-sheet.html"
            |       items=data.powerArray
            |       dataPath="data.powerArray"
            |       header=(localize "MNM3E.PowerArray")
            |       type="power"
            | }}
            | {{/if}}

        .tab.effects(data-group="primary" data-tab="effects")
            | {{> "systems/mnm3e/templates/actors/parts/actor-effects.html" readOnly=true }}